<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<Settings>
    <BOMBINCREMENTCOST>50</BOMBINCREMENTCOST>
    <UNDOINCREMENTCOST>50</UNDOINCREMENTCOST>
    <fieldWidth>64</fieldWidth>
    <fieldHeight>64</fieldHeight>
    <boardHeight>5</boardHeight>
    <boardWidth>5</boardWidth>
    <Stars>10000</Stars>
</Settings>
