
* {
    -fx-background-color: black;
    -fx-alignment: center;
}

HBox {
    -fx-pref-width: 340px;
    -fx-pref-height: 360px;
}

Label{
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;

    -fx-text-alignment: center;

}

FieldLabel {
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;

    -fx-text-alignment: center;
    -fx-pref-height: 64px;
    -fx-min-width: 64px;
    -fx-pref-width: 64px;
    -fx-min-height: 64px;
    -fx-background-color: #fffb00;
}

.field1{
    -fx-background-color: #fffb00;
}

.field2{
    -fx-background-color: #41e512;
}

.field3{
    -fx-background-color: #eeae14;
}

.field4{
    -fx-background-color: #e2241f;
}

.field5{
    -fx-background-color: #f113ab;
}

.field6{
    -fx-background-color: #ae0ac5;
}
