
* {
    -fx-background-color: #000000;
    -fx-alignment: center;
}

AnchorPane {
    -fx-pref-width: 320px;
    -fx-pref-height: 320px;
}

Label{
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;

    -fx-text-alignment: center;
}


FieldLabel {
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;

    -fx-text-alignment: center;
    -fx-background-color: #c8d6e5;
}

.field1{
    -fx-background-color: #feca57;
}

.field2{
    -fx-background-color: #1dd1a1;
}

.field3{
    -fx-background-color: #ff9f43;
}

.field4{
    -fx-background-color: #ee5253;
}

.field5{
    -fx-background-color: #f368e0;
}

.field6{
    -fx-background-color: #5f27cd;
}

.field7{
    -fx-background-color: #c54740;
}
