
* {
    -fx-background-color: transparent;
    -fx-alignment: center;
}

AnchorPane {
    -fx-pref-width: 320px;
    -fx-pref-height: 320px;
}

Button{
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#buttonBox{
    -fx-spacing: 10;
    -fx-padding: 10;
}

#menuBox{
    -fx-spacing: 10;
    -fx-padding: 10;
}

#menuButton{
    -fx-background-color: linear-gradient(#4aee49, #0a8a0a);
}

#menuButton:hover{
    -fx-background-color: linear-gradient(#5def4e, #66d65f);
}

#restartButton{

    -fx-background-color: linear-gradient(#5f83ff, #2f54f9);
}

#restartButton:hover{
    -fx-background-color: linear-gradient(#759bff, #476bff);
}

#undoButton{
    -fx-background-color: linear-gradient(#cca119, #ee8900);
}

#undoButton:hover{
    -fx-background-color: linear-gradient(#ffe73a, #ffa22c);
}

#deleteButton{
    -fx-background-color: linear-gradient(#eb2e05, #bf2805);
}

#deleteButton:hover{
    -fx-background-color: linear-gradient(#eb5a2e, #bf4b27);
}

Label {
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;
    -fx-text-alignment: center;
}

FieldLabel {
    base-color: #c8d6e5;
    -fx-background-color: base-color;
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-background-radius: 10 10 10 10;
    -fx-background-insets: 2px;
}

FieldLabel:hover {
    -fx-background-color: derive(base-color, -10%);
}

.root {
    -fx-background-color: #000000;
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
}

.field1 {
    base-color: #feca57;
}

.field2 {
    base-color: #1dd1a1;
}

.field3 {
    base-color: #ff9f43;
}

.field4 {
    base-color: #ee5253;
}

.field5 {
    base-color: #f368e0;
}

.field6 {
    base-color: #5f27cd;
}

.field7 {
    base-color: #c54740;
}

.field8 {
    base-color: #bdc547;
}

.field9 {
    base-color: #67a0c5;
}

.field10 {
    base-color: #9f45c5;
}

.field11 {
    base-color: #2dc52a;
}

.field12 {
    base-color: #c5c008;
}

.field13 {
    base-color: #c000c5;
}

.fieldMax {
    base-color: #ffffff;
    -fx-text-fill: #000000;
}
