* {
    -fx-alignment: center;
}

#pane{
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
    -fx-background-color: #191919;
}

Button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-color: #f3ae4b;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

Button:hover {
    -fx-background-color: #ffbf6a;;
}