* {
    -fx-alignment: center;
}

#pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
    -fx-background-color: #191919;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

Button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#backButton {

    -fx-background-color: #f3ae4b;

}

#backButton:hover {

    -fx-background-color: #ffbf6a; }