
* {
    -fx-background-color: deeppink;
    -fx-alignment: center;
}

HBox {
    -fx-pref-width: 320px;
    -fx-pref-height: 340px;
}

Label {
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;
}

.field{
    -fx-text-alignment: center;
    -fx-pref-height: 64px;
    -fx-min-width: 64px;
    -fx-pref-width: 64px;
    -fx-min-height: 64px;
    -fx-background-color: blue;
}