
* {
    -fx-background-color: #000000;
    -fx-alignment: center;
}

HBox {
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
}

Label {
    -fx-font-size: 48px;
    -fx-font-family: Arial, serif;
    -fx-text-fill: white;
}