* {
    -fx-alignment: center;

}

#pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
    -fx-background-color: #191919;

}

Button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#startButton {
    -fx-background-color: #00a8b5;
}

#startButton:hover {
    -fx-background-color: #00ccd9;
}

#autoplayButton {
    -fx-background-color: #f3ae4b;
}

#autoplayButton:hover {
    -fx-background-color: #ffbf6a;
}



#hiScoreButton {
    -fx-background-color: #de4383;
    -fx-background-image: url("../images/trophy.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#hiScoreButton:hover {
    -fx-background-color: #ff4e97;
}

#infoButton {
    -fx-background-color: #774898;
    -fx-background-image: url("../images/gears.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#infoButton:hover {
    -fx-background-color: #9754bf;
}

#saveButton{
    -fx-background-color: #e4734f;
    -fx-background-image: url("../images/diskette.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#saveButton:hover{
    -fx-background-color: #ff8c64;
}

#loadButton{
    -fx-background-color: #bcd574;
    -fx-background-image: url("../images/upload.png");
    -fx-background-size: 35 35;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}

#loadButton:hover{
    -fx-background-color: #e3ff8b;
}