* {
    -fx-alignment: center;
}

#pane {
    -fx-pref-width: 400px;
    -fx-pref-height: 500px;
    -fx-background-color: #191919;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
}

Button {
    -fx-text-fill: white;
    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-border-radius: 10 10 10 10;
    -fx-background-radius: 10 10 10 10;
}

#backButton {

    -fx-background-color: #f3ae4b;

}

#backButton:hover {

    -fx-background-color: #ffbf6a;
}

#infoButton {

    -fx-background-color: #00a8b5;

}

#infoButton:hover {

    -fx-background-color: #00ccd9;

}

#musicButton {

    -fx-background-color: #ff5839;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

#musicButton:selected {

    -fx-background-color: #66d65f;
    -fx-text-fill: white;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}